<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acsoftware.android.domophone"
    android:versionCode="29"
    android:versionName="1.8.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <permission
        android:name="com.acsoftware.android.domophone.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.acsoftware.android.domophone.permission.C2D_MESSAGE" />
	
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-feature 	 android:name="android.hardware.telephony" android:required="false" /> 
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens android:smallScreens="false"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true" android:resizeable="false"/>

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.acsoftware.android.domophone.BootReceiver">
			<intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action></intent-filter>
		</receiver>
		
        <receiver
            android:name="com.acsoftware.android.domophone.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.acsoftware.android.domophone" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.acsoftware.android.domophone.GCMService" />
        
        <service
          android:name="com.acsoftware.android.domophone.RingObserverService"
          android:enabled="true"
          android:icon="@drawable/appicon"
          android:label="@string/app_name"
          android:stopWithTask="false">
            
        </service>
        
                
    </application>

</manifest>